In [1]:
# Requests for handling HTTP get and other requests
import requests
import time
import pandas as pd
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup # bs4 is used for parsing our html

In [ ]:
!pip install beatifulsoup4

In [2]:
maskavas = "https://www.ss.com/lv/real-estate/flats/riga/maskavas-priekshpilseta/sell/"
centrs = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"

In [3]:
dflist = pd.read_html(maskavas) # pandas attempts to read all tables on the url so dflist
type(dflist)

list

In [4]:
len(dflist)

7

In [5]:
for df in dflist:
    print(df.shape)

(1, 1)
(1, 1)
(1, 2)
(1, 5)
(29, 10)
(1, 3)
(4, 3)

In [6]:
df = dflist[4]
df.head()

,0,1,2,3,4,5,6,7,8,9
0,Sludinājumi \tdatums,Sludinājumi \tdatums,Sludinājumi \tdatums,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
1,NaN,NaN,"Izdevīgs, moderns dzīvoklis - Daugavpils ielā ...",Daugavpils 49,3,57,3/5,P. kara,"1,000 €","57,000 €"
2,NaN,NaN,Предлагаем к продаже квартиру с печным отоплен...,Daugavpils 76,2,28,5/6,P. kara,607 €,"17,000 €"
3,NaN,NaN,Akurāts dzīvoklis tuvu Centram Krāsns apkure a...,Daugavpils 49,2,50,1/5,P. kara,580 €,"29,000 €"
4,NaN,NaN,"Mājiņa atsevišķa, atsevišķa ieeja. Iespēja pie...",M. Kalna 25A,1,25,1/1,Priv. m.,672 €,"16,789 €"

In [7]:
lvcitylist = pd.read_html("https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Latvia")
len(lvcitylist)

8

In [8]:
for citydf in lvcitylist:
    print(citydf.shape)

(9, 3)
(67, 4)
(1, 2)
(2, 2)
(1, 2)
(3, 2)
(3, 2)
(3, 2)

In [9]:
lvcitydf = lvcitylist[1]
lvcitydf.head()

,Town,Population (2010)[2],Population (2018)[3],Municipality[1]
0,Ainaži pronunciation (help·info),1008,787,Salacgrīva Municipality
1,Aizkraukle pronunciation (help·info),8709,7489,Aizkraukle Municipality
2,Aizpute pronunciation (help·info),5104,4443,Aizpute Municipality
3,Aknīste pronunciation (help·info),1224,1078,Aknīste Municipality
4,Aloja pronunciation (help·info),1353,1197,Aloja Municipality

In [10]:
req = requests.get(maskavas)
req.status_code # https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

200

In [11]:
req.text[:200]

'<!DOCTYPE html>\r\n<HTML><HEAD>\r\n<title>SS.COM Dzīvokļi - Rīga - Maskavas priekšpilsēta, Cenas, Pārdod - Sludinājumi</title>\r\n<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">\r\n<meta n'

In [12]:
req.text.index("tr_47482426") # we could fine the line that interests us manually using Python string index command

32505

In [13]:
req.text[32505:32505+50]
# we could attempt to parse this manually, but there is no need for HTML since we have Beautiful Soup which does it for us

'tr_47482426"><td class="msga2 pp0"><input type=che'

In [14]:
soup = BeautifulSoup(req.text, 'lxml') 
# lxml is a type of parser, a bit better than standard
# soup = BeautifulSoup(req.text) 
type(soup)

bs4.BeautifulSoup

In [15]:
allrows = soup.find_all('tr') # so we want to find all table rows (no matter the table)
len(allrows)
# so what would be common to our rows which contain an advertisement

37

In [16]:
allrows[12]

<tr id="tr_48735508"><td class="msga2 pp0"><input id="c48735508" name="mid[]" type="checkbox" value="48735508_5070_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/ccppd.html" id="im48735508"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/724/180779/36155715.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTkzJTlDayVBRCVBQSU3QiVDMSU5OCU5NiVBMWwlQUUlQUMlN0R2JTk3JTk0JUExZSVCMSVBNSU3Q3UlOTclOTE=|ah3zuHEg" href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/ccppd.html" id="dm_48735508">Jūsu uzmanībai tiek piedāvāts 1:37 design studio dizains un mūsu</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Maskavas 88</td><td c="1" class="msga2-o pp6" nowrap="">4</td><td c="1" class="msga2-o pp6" nowrap="">80</td><td c="1" class="msga2-o pp6" nowrap="">6/6</td><td c="1" class="msga2-o pp6" nowrap="">P. kara</td><td c="1" class="msga2-o pp6" nowrap="">1,438 €</td><td c="1" class="msga2-o pp6" nowrap="">115,000  €</td></tr>

In [17]:
allrows[12].get('id')

'tr_48735508'

In [18]:
aprows = [row for row in allrows if "id" in row.attrs and "tr_" in row.get('id')] #full check
len(aprows)

28

In [19]:
allrows[12].attrs

{'id': 'tr_48735508'}

In [ ]:
aprows = [row for row in allrows if "tr_" in row.get('id',[])] # we pass empty list as fallback when id is not found
len(aprows)

In [20]:
aprows = [row for row in allrows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ] # this is more precise
# of course above could have been done with regular expression for more difficult cases
len(aprows)

28

In [21]:
aprows[-1]

<tr id="tr_47441245"><td class="msga2 pp0"><input id="c47441245" name="mid[]" type="checkbox" value="47441245_5070_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/ckpob.html" id="im47441245"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/693/173064/34612630.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTlBd3pnbSVCMyVDQ3klQTIlOUUlOUIlN0J0a2YlQUUlODV6JUE2JTlBJTk4dnFnZA==|hDA74zPHmg" href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/ckpob.html" id="dm_47441245">Bonava Latvija projekts Krasta kvartāls.
Kompakts un pārdomāts</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Maskavas 192</td><td c="1" class="msga2-o pp6" nowrap="">4</td><td c="1" class="msga2-o pp6" nowrap="">73</td><td c="1" class="msga2-o pp6" nowrap="">2/9</td><td c="1" class="msga2-o pp6" nowrap="">Jaun.</td><td c="1" class="msga2-o pp6" nowrap="">1,616 €</td><td c="1" class="msga2-o pp6" nowrap="">118,000  €</td></tr>

In [22]:
firstrow = aprows[0]
firstrow

<tr id="tr_48465734"><td class="msga2 pp0"><input id="c48465734" name="mid[]" type="checkbox" value="48465734_5070_0"/></td><td class="msga2"><a href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html" id="im48465734"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/704/175795/35158995.th2.jpg"/></a></td><td class="msg2"><div class="d1"><a class="am" data="JTlGJUE2JTdDeCU5Q24lOEUlRDElQTklQTMlQUQlN0R2JTk2bSU5MiU4NyVBQyU5RSVBQSU3RnUlOThnJThBJTg1|ntHEf7ZUx" href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html" id="dm_48465734">Izdevīgs, moderns dzīvoklis - Daugavpils ielā 49

Atrodas pirm</a></div></td><td c="1" class="msga2-o pp6" nowrap="">Daugavpils 49</td><td c="1" class="msga2-o pp6" nowrap="">3</td><td c="1" class="msga2-o pp6" nowrap="">57</td><td c="1" class="msga2-o pp6" nowrap="">3/5</td><td c="1" class="msga2-o pp6" nowrap="">P. kara</td><td c="1" class="msga2-o pp6" nowrap="">1,000 €</td><td c="1" class="msga2-o pp6" nowrap="">57,000  €</td></tr>

In [24]:
firstcells = firstrow.find_all('td')
firstcells

[<td class="msga2 pp0"><input id="c48465734" name="mid[]" type="checkbox" value="48465734_5070_0"/></td>,
 <td class="msga2"><a href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html" id="im48465734"><img alt="" class="isfoto foto_list" src="https://i.ss.com/gallery/4/704/175795/35158995.th2.jpg"/></a></td>,
 <td class="msg2"><div class="d1"><a class="am" data="JTlGJUE2JTdDeCU5Q24lOEUlRDElQTklQTMlQUQlN0R2JTk2bSU5MiU4NyVBQyU5RSVBQSU3RnUlOThnJThBJTg1|ntHEf7ZUx" href="/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html" id="dm_48465734">Izdevīgs, moderns dzīvoklis - Daugavpils ielā 49

 Atrodas pirm</a></div></td>,
 <td c="1" class="msga2-o pp6" nowrap="">Daugavpils 49</td>,
 <td c="1" class="msga2-o pp6" nowrap="">3</td>,
 <td c="1" class="msga2-o pp6" nowrap="">57</td>,
 <td c="1" class="msga2-o pp6" nowrap="">3/5</td>,
 <td c="1" class="msga2-o pp6" nowrap="">P. kara</td>,
 <td c="1" class="msga2-o pp6" nowrap="">1,000 €</td>,
 <td c="1" class="msga2-o pp6" nowrap="">57,000  €</td>]

In [25]:
len(firstcells)

10

In [26]:
firstcells[-1].text

'57,000  €'

In [28]:
type(firstcells[-1])

bs4.element.Tag

In [29]:
anchor = firstcells[1].find('a')
anchor

In [30]:
anchor.attrs

{'href': '/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html',
 'id': 'im48465734'}

In [31]:
anchor.get('href')

'/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html'

In [32]:
firstcells[2].find('a').text

'Izdevīgs, moderns dzīvoklis - Daugavpils ielā 49\r\n\r\nAtrodas pirm'

In [33]:
def getRowDict(row):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) != 10: # a little sanity check
        print("Hmm bad row")
        return rowDict
    rowDict['url'] = "https://ss.com" + row_tds[1].find('a').get('href')
    rowDict['desc'] = row_tds[2].text
    rowDict['street'] = row_tds[3].text
    rowDict['rooms'] = row_tds[4].text
    rowDict['sqr_m'] = row_tds[5].text
    rowDict['floor'] = row_tds[6].text
    rowDict['build_type'] = row_tds[7].text
    rowDict['price_sqm'] = row_tds[8].text
    rowDict['price_raw'] = row_tds[9].text
    rowDict['currency'] = row_tds[9].text.split()[1] # currency is always after multiple spaces in price
    rowDict['price'] = row_tds[9].text.split()[0].replace(',','') # we do need comma
    return rowDict

In [34]:
mydatadict = getRowDict(aprows[7])
mydatadict

{'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/ccppd.html',
 'desc': 'Jūsu uzmanībai tiek piedāvāts 1:37 design studio dizains un mūsu',
 'street': 'Maskavas 88',
 'rooms': '4',
 'sqr_m': '80',
 'floor': '6/6',
 'build_type': 'P. kara',
 'price_sqm': '1,438 €',
 'price_raw': '115,000  €',
 'currency': '€',
 'price': '115000'}

In [35]:
myrowlist = []
for row in aprows:
    myrowlist.append(getRowDict(row))
myrowlist[:5]

[{'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html',
  'desc': 'Izdevīgs, moderns dzīvoklis - Daugavpils ielā 49\r\n\r\nAtrodas pirm',
  'street': 'Daugavpils 49',
  'rooms': '3',
  'sqr_m': '57',
  'floor': '3/5',
  'build_type': 'P. kara',
  'price_sqm': '1,000 €',
  'price_raw': '57,000  €',
  'currency': '€',
  'price': '57000'},
 {'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/fcldh.html',
  'desc': 'Предлагаем к продаже квартиру с печным отоплением. Требуется рем',
  'street': 'Daugavpils 76',
  'rooms': '2',
  'sqr_m': '28',
  'floor': '5/6',
  'build_type': 'P. kara',
  'price_sqm': '607 €',
  'price_raw': '17,000  €',
  'currency': '€',
  'price': '17000'},
 {'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/cnpcc.html',
  'desc': 'Akurāts dzīvoklis tuvu Centram\r\nKrāsns apkure ar ūdens konturu\r\n',
  'street': 'Daugavpils 49',
  'rooms': '2',
  'sqr_m': '50',
  'floor': '1/5',
  'build_type': 'P. kara',
  'price_sqm': '580 €',
  'price_raw': '29,000  €',
  'currency': '€',
  'price': '29000'},
 {'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/idipm.html',
  'desc': 'Mājiņa atsevišķa, atsevišķa ieeja. Iespēja piebūvēt klāt. Jauni ',
  'street': 'M. Kalna 25A',
  'rooms': '1',
  'sqr_m': '25',
  'floor': '1/1',
  'build_type': 'Priv. m.',
  'price_sqm': '672 €',
  'price_raw': '16,789  €',
  'currency': '€',
  'price': '16789'},
 {'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/cjmlb.html',
  'desc': 'Владелец продаёт большую однокомнатную квартиру на втором этаже.',
  'street': 'Viļānu 10',
  'rooms': '1',
  'sqr_m': '32',
  'floor': '2/3',
  'build_type': 'P. kara',
  'price_sqm': '466 €',
  'price_raw': '14,900  €',
  'currency': '€',
  'price': '14900'}]

In [36]:
myrowlist = [getRowDict(row) for row in aprows]
myrowlist[:2]

[{'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html',
  'desc': 'Izdevīgs, moderns dzīvoklis - Daugavpils ielā 49\r\n\r\nAtrodas pirm',
  'street': 'Daugavpils 49',
  'rooms': '3',
  'sqr_m': '57',
  'floor': '3/5',
  'build_type': 'P. kara',
  'price_sqm': '1,000 €',
  'price_raw': '57,000  €',
  'currency': '€',
  'price': '57000'},
 {'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/fcldh.html',
  'desc': 'Предлагаем к продаже квартиру с печным отоплением. Требуется рем',
  'street': 'Daugavpils 76',
  'rooms': '2',
  'sqr_m': '28',
  'floor': '5/6',
  'build_type': 'P. kara',
  'price_sqm': '607 €',
  'price_raw': '17,000  €',
  'currency': '€',
  'price': '17000'}]

In [51]:
def processAptRows(rows):
    return [getRowDict(row) for row in rows]
#     rowlist = []
#     for row in rows:
#         rowlist.append(getRowDict(row))
#     return rowlist

In [38]:
myrows = processAptRows(aprows)
myrows[:2]

[{'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/bchpcm.html',
  'desc': 'Izdevīgs, moderns dzīvoklis - Daugavpils ielā 49\r\n\r\nAtrodas pirm',
  'street': 'Daugavpils 49',
  'rooms': '3',
  'sqr_m': '57',
  'floor': '3/5',
  'build_type': 'P. kara',
  'price_sqm': '1,000 €',
  'price_raw': '57,000  €',
  'currency': '€',
  'price': '57000'},
 {'url': 'https://ss.com/msg/lv/real-estate/flats/riga/maskavas-priekshpilseta/fcldh.html',
  'desc': 'Предлагаем к продаже квартиру с печным отоплением. Требуется рем',
  'street': 'Daugavpils 76',
  'rooms': '2',
  'sqr_m': '28',
  'floor': '5/6',
  'build_type': 'P. kara',
  'price_sqm': '607 €',
  'price_raw': '17,000  €',
  'currency': '€',
  'price': '17000'}]

In [39]:
df = pd.DataFrame(myrowlist)
df.head()

,url,desc,street,rooms,sqr_m,floor,build_type,price_sqm,price_raw,currency,price
0,https://ss.com/msg/lv/real-estate/flats/riga/m...,"Izdevīgs, moderns dzīvoklis - Daugavpils ielā ...",Daugavpils 49,3,57,3/5,P. kara,"1,000 €","57,000 €",€,57000
1,https://ss.com/msg/lv/real-estate/flats/riga/m...,Предлагаем к продаже квартиру с печным отоплен...,Daugavpils 76,2,28,5/6,P. kara,607 €,"17,000 €",€,17000
2,https://ss.com/msg/lv/real-estate/flats/riga/m...,Akurāts dzīvoklis tuvu Centram\r\nKrāsns apkur...,Daugavpils 49,2,50,1/5,P. kara,580 €,"29,000 €",€,29000
3,https://ss.com/msg/lv/real-estate/flats/riga/m...,"Mājiņa atsevišķa, atsevišķa ieeja. Iespēja pie...",M. Kalna 25A,1,25,1/1,Priv. m.,672 €,"16,789 €",€,16789
4,https://ss.com/msg/lv/real-estate/flats/riga/m...,Владелец продаёт большую однокомнатную квартир...,Viļānu 10,1,32,2/3,P. kara,466 €,"14,900 €",€,14900

In [40]:
df.to_excel('maskavas_pardod.xlsx')

In [41]:
maskavas

'https://www.ss.com/lv/real-estate/flats/riga/maskavas-priekshpilseta/sell/'

In [42]:
maskavas.split("/")[-3]

'maskavas-priekshpilseta'

In [52]:
# lets put this in one big function
def getExcelFromUrl(url):
    print(f"requesting page from {url}")
    req = requests.get(url)
    if req.status_code != 200:
        print("Bad request", req.status_code)
        return None
    soup = BeautifulSoup(req.text, 'lxml')
    print(f"Page title {soup.title}")
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    myrows = processAptRows(aprows)
    df = pd.DataFrame(myrows)
    print(f"Got DF in shape {df.shape}")
    df.to_excel(f"{url.split('/')[-3]}.xlsx") #we just need a unique and descriptive name for our sheet
    return df

In [44]:
df = getExcelFromUrl(maskavas)

Got DF in shape (28, 11)

In [53]:
imanta = getExcelFromUrl("https://www.ss.com/lv/real-estate/flats/riga/imanta/sell/")
imanta.head()

requesting page from https://www.ss.com/lv/real-estate/flats/riga/imanta/sell/
Page title <title>SS.COM Dzīvokļi - Rīga - Imanta, Cenas, Pārdod - Sludinājumi</title>
Got DF in shape (30, 11)

,url,desc,street,rooms,sqr_m,floor,build_type,price_sqm,price_raw,currency,price
0,https://ss.com/msg/lv/real-estate/flats/riga/i...,Pārdod gaišu un mājīgu dzīvokli Yit projektā “...,Jūrmalas g. 100,2,44,3/9,Jaun.,"1,545 €","68,000 €",€,68000
1,https://ss.com/msg/lv/real-estate/flats/riga/i...,"Хозяин продает 3-х комнатную солнечную, не угл...",Kurzemes pr. 152,3,61,8/9,602.,"1,131 €","69,000 €",€,69000
2,https://ss.com/msg/lv/real-estate/flats/riga/i...,"Īpašnieks pārdod saulainu, siltu dzīvokli, nav...",Slokas 195,2,39,2/5,LT proj.,972 €,"37,900 €",€,37900
3,https://ss.com/msg/lv/real-estate/flats/riga/i...,"Продаю уютную, тёплую, красивую 3ех комнатную ...",Kurzemes pr. 154,3,65,6/9,602.,"1,108 €","72,000 €",€,72000
4,https://ss.com/msg/lv/real-estate/flats/riga/i...,Pārdod plašu penhaus tipa dzīvokli Imantā. \r\...,Anniņmuižas 13,3,148,12/12,Jaun.,"1,250 €","185,000 €",€,185000

In [ ]:
# aprows = aprows[:-1] # if we do not need the last one, so we just take it off

In [54]:
# now we need to find a list of all pages for certain region
req = requests.get(centrs)
req.status_code

200

In [56]:
centrs

'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/'

In [55]:
soup = BeautifulSoup(req.text, 'lxml') 
soup.title

In [57]:
navs = soup.find_all(name="nav_id")
len(navs)

0

In [58]:
len(soup.find_all(name=True))

897

In [59]:
anchors = soup.find_all("a")
len(anchors)

98

In [60]:
type(anchors)

bs4.element.ResultSet

In [61]:
anchors[:5]

[<a href="/" title="Sludinājumi"><img alt="Sludinājumi" border="0" class="page_header_logo" src="https://i.ss.com/img/p.gif"/></a>,
 <a class="a_menu" href="/lv/real-estate/flats/new/" title="Iesniegt Sludinājumu">Iesniegt Sludinājumu</a>,
 <a class="a_menu" href="/lv/login/" title="Mani Sludinājumi">Mani Sludinājumi</a>,
 <a class="a_menu" href="/lv/real-estate/flats/riga/centre/search/" title="Meklēt sludinājumus">Meklēšana</a>,
 <a class="a_menu" href="/lv/favorites/" title="Memo">Memo</a>]

In [62]:
alist = [anchor for anchor in anchors] #list comprehension would conver anchors, same as list(anchors)
# list(anchors)
len(alist),type(alist)

(98, list)

In [63]:
navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
len(navs)

10

In [64]:
navs[0]

<a class="navi" href="/lv/real-estate/flats/riga/centre/sell/page25.html" name="nav_id" rel="prev"><img border="0" height="5" src="https://i.ss.com/img/s_left.png" style="padding-bottom:2px;" width="9"/> Iepriekšējie</a>

In [65]:
navs[0].attrs

{'name': 'nav_id',
 'rel': ['prev'],
 'class': ['navi'],
 'href': '/lv/real-estate/flats/riga/centre/sell/page25.html'}

In [66]:
navs[0]['href']

'/lv/real-estate/flats/riga/centre/sell/page25.html'

In [67]:
navs[0]['href'].split("/page")[1]

'25.html'

In [68]:
navs[0]['href'].split("/page")[0]

'/lv/real-estate/flats/riga/centre/sell'

In [69]:
lastpage = navs[0]['href'].split("/page")[1].split(".")[0]
lastpage, type(lastpage)

('25', str)

In [70]:
lastpage = int(lastpage)
lastpage

25

In [ ]:
centrs

In [72]:
pagelist = [centrs]
extrapages = [f"{centrs}" for n in range(2,lastpage+1)]
extrapages[:5]

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/']

In [73]:
pagelist = [centrs]
extrapages = [f"{centrs}/page{n}.html" for n in range(2,lastpage+1)]
extrapages[:5],extrapages[-5:]

(['https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page2.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page3.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page4.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page5.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page6.html'],
 ['https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page21.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page22.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page23.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page24.html',
  'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page25.html'])

In [74]:
pagelist += extrapages # I add extrapages list to pagelist (flat)
pagelist[:5]

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell//page5.html']

In [75]:
def getLocalPageList(url):
    localPageList = [url]
    req = requests.get(url)
    if req.status_code != 200:
        print("Bad Status Code", req.status_code)
        return
    soup = BeautifulSoup(req.text, 'lxml') 
    anchors = soup.find_all("a")
    navs = [anchor for anchor in anchors if anchor.get("name") == "nav_id"] # get will get us None if no "name" exists
    if len(navs) == 0:
        return localPageList # means we only have the first page and that is it
    lastpage = navs[0]['href'].split("/page")[1].split(".")[0]
    lastpage = int(lastpage) # could have done in the previous page
    extrapages = [f"{centrs}page{n}.html" for n in range(2,lastpage+1)]
    localPageList += extrapages
    return localPageList

In [76]:
center_pages = getLocalPageList(centrs)
center_pages[:5]

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html']

In [ ]:
getLocalPageList("https://www.ss.com/lv/real-estate/flats/riga/imanta/sell/")

In [ ]:
getLocalPageList(maskavas)

In [ ]:
maskavas

In [77]:
allpages = getLocalPageList("https://www.ss.com/lv/real-estate/flats/riga/all/")
len(allpages)

154

In [ ]:
166*30 # should be a bit more than 4963 (at this particular time)

In [78]:
url = "https://www.ss.com/lv/real-estate/flats/riga/"
baseurl = "https://ss.com"
postfix = "sell/"

In [79]:
# task get column information
req = requests.get("https://www.ss.com/lv/real-estate/flats/riga/all/")
req.status_code

200

In [ ]:
soup = BeautifulSoup(req.text, 'lxml')
soup.title

In [80]:
headline = soup.find("tr", {"id":"head_line"}) # this is a shorter way of finding by tr AND this element having particular id
headline

<tr id="head_line">
<td class="msg_column" colspan="3" width="70%">
<span style="float:left;"> Sludinājumi
</span>
<span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
<noindex>
<a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
</td>
<td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td><td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td><td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td></tr>

In [82]:
headtds = headline.find_all("td")
len(headtds)

8

In [83]:
headtds

[<td class="msg_column" colspan="3" width="70%">
 <span style="float:left;"> Sludinājumi
 </span>
 <span align="right" class="msg_column" style="float:right;text-align:right;padding-right:3px;">
 <noindex>
 <a class="a19" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4S.html" rel="nofollow">datums</a></noindex></span>
 </td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SFDwT.html" rel="nofollow" title="">Iela</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4SelM=.html" rel="nofollow" title="">Ist.</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4QelM=.html" rel="nofollow" title="">m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4XelM=.html" rel="nofollow" title="">Stāvs</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4VelM=.html" rel="nofollow" title="">Sērija</a></noindex></td>,
 <td background="https://i.ss.com/img/pl.gif" class="msg_column" nowrap="" style="border-left:1px #FFFFFF solid;"><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4bRDwT.html" rel="nofollow">Cena, m2</a></noindex></td>,
 <td class="msg_column_td" nowrap=""><noindex><a class="a18" href="/lv/real-estate/flats/riga/centre/sell/fDgSeF4belM=.html" rel="nofollow" title="">Cena</a></noindex></td>]

In [ ]:
headcolumns = [el.text for el in headtds[1:]] #.text gets us content even from children and grandchildren
headcolumns

In [84]:
def getColList(soup):
    column_list = ["description","url"]
    headline = soup.find("tr", {"id":"head_line"})
    headtds = headline.find_all("td")
    headcolumns = [el.text for el in headtds[1:]]
    column_list += headcolumns
    return column_list

In [85]:
mycolist = getColList(soup)
mycolist

['description',
 'url',
 'Iela',
 'Ist.',
 'm2',
 'Stāvs',
 'Sērija',
 'Cena, m2',
 'Cena']

In [86]:
carcols = getColList(BeautifulSoup(requests.get("https://www.ss.com/lv/transport/cars/volkswagen/").text, 'lxml'))
carcols

['description', 'url', 'Modelis', 'Gads', 'Tilp.', 'Nobrauk.', 'Cena']

In [91]:
def getRow(row,colist):
    row_tds = row.find_all('td')
    rowDict = {}
    if len(row_tds) <3: # a little sanity check
        print("Hmm bad row")
        return rowDict
    
    rowDict[colist[0]] = row_tds[2].text
    rowDict[colist[1]] = "https://ss.com" + row_tds[1].find('a').get('href')
    for td,key in zip(row_tds[3:],colist[2:]): 
        rowDict[key] = td.text
    return rowDict

In [88]:
soup.title

In [89]:
trows = soup.find_all('tr')
aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]

In [90]:
getRows(aprows[0], mycolist)

NameError: name 'getRows' is not defined

In [ ]:
carsoup = BeautifulSoup(requests.get("https://www.ss.com/lv/transport/cars/volkswagen/").text, 'lxml')
carsoup.title

In [ ]:
trows = carsoup.find_all('tr')
aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
getRows(aprows[0], carcols)

In [ ]:
soup.title

In [92]:
def getRowList(url):
    req = requests.get(url)
    if req.status_code != 200:
        print("Bad request", req.status_code)
        return [] # more likely to work even if one bad request goes through
    soup = BeautifulSoup(req.text, 'lxml')
    trows = soup.find_all('tr')
    aprows = [row for row in trows if row.get('id',"").startswith("tr_") and not row.get('id',"").startswith("tr_bnr") ]
    return aprows

In [93]:
def getAdList(myurl):
    soup = BeautifulSoup(requests.get(myurl).text, 'lxml') # no status check
    adlist = []
    colist = getColList(soup)
    urlist = getLocalPageList(myurl)
    for url in urlist[:3]: #FIXME  for url in urlist: 
        print(f"Getting Rows From {url}")
        rowlist = getRowList(url)
        for row in rowlist:
            adlist.append(getRow(row, colist))
        print(f"Finished Processing {url}")
        time.sleep(0.3) # good practice to add a little pause
    return adlist

In [ ]:
allRiga = "https://www.ss.com/lv/real-estate/flats/riga/all/sell/"

In [ ]:
adlist = getAdList(allRiga)

In [ ]:
len(adlist)

In [ ]:
adlist[:2]

In [ ]:
df = pd.DataFrame(adlist)
df.head()

In [ ]:
df.to_excel("allRiga.xlsx")

In [94]:
def getRegionList(url, baseurl = "https://ss.com", postfix = "sell/"):
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    allanchors = soup.find_all('a')
    acats = [el for el in allanchors if 'class' in el.attrs\
             and 'a_category' in el.attrs['class']]
    regionlist = [baseurl + el.attrs['href'] + postfix for el in acats]
#     regiontuples = [(el.text, baseurl + el.attrs['href'] + postfix)\
#                     for el in acats]
    # we do not want the last one with all
    return regionlist[:-1]

In [ ]:
myregions = getRegionList(url)
len(myregions)

In [95]:
def getAllLocalUrls(url):
    """Get a list of all urls including paginated pages"""
    results = [url] # default is just the url if no extra pages found
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    # we just need a one element
    prevanchor = soup.find('a', {"rel":"prev"})
    if prevanchor == None:
        return results
    href = prevanchor.attrs.get('href')
    lastPageNum = int(href.split('page')[-1].split('.')[0])
    print(lastPageNum)
    nurls = [f"{url}page{n}.html" for n in range(2,lastPageNum+1)]
    results += nurls
    return results

In [ ]:
myresults = getAllLocalUrls(myregions[0])
myresults

In [ ]:
mysplit = href.split(".")
mysplit

In [ ]:
splitbypage = mysplit[0].split("page")
splitbypage

In [ ]:
int(splitbypage[1]),splitbypage[1],type(splitbypage[1])

In [96]:
def getAllUrls(url="https://www.ss.com/lv/real-estate/flats/riga/"):
    urlist = []
    reglist = getRegionList(url)
    for region in reglist:
        print(f"Working on {region}")
        regurls = getAllLocalUrls(region)
        urlist += regurls
        time.sleep(0.3)
    return urlist

In [ ]:
urlist = getAllUrls()
len(urlist)

In [97]:
def getAllRows(url):
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    allrows = soup.find_all('tr')
    adrows = [el for el in allrows\
              if 'id' in el.attrs and 'tr_' in el.attrs['id']]
    return adrows[:-1] # since the last one is not an ad

In [ ]:
other = getAllRows("https://ss.com/lv/real-estate/flats/riga/other/sell/")
len(other)

In [98]:
def getRow(row):
    # get all table data cells
    tds = row.find_all('td')
    adlist = []
    adlist.append(tds[1].find('a').attrs['href'])
    for td in tds[2:]:
        adlist.append(td.text)
    return tuple(adlist)

In [ ]:
getRow(other[0])

In [99]:
def processAllUrls(urlist):
    results = []
    for url in urlist:
        print(f"Processing {url}")
        rows = getAllRows(url)
        for row in rows:
            results.append(getRow(row))
        time.sleep(0.3)
    return results

In [ ]:
myrooms = processAllUrls(urlist)
len(myrooms)

In [ ]:
myrooms[:5]

In [ ]:
len(myrooms)/9

In [ ]:
# originally we messed up and used += instead of mylist.append(newitem)
fixmyrooms = [tuple(myrooms[n*9:n*9+9]) for n in range(len(myrooms)//9)]
len(fixmyrooms)

In [ ]:
fixmyrooms[:5]

In [ ]:
base  = "https://www.ss.com"
fixmyrooms = [tuple([base+el[0]] + list(el[1:])) for el in myrooms]
fixmyrooms[:3]

In [ ]:
df = pd.DataFrame(fixmyrooms)
df.head()

In [100]:
import datetime

In [ ]:
now = datetime.datetime.now()
now

In [ ]:
now.month

In [ ]:
now.hour

In [ ]:
now.minute

In [ ]:
now.second

In [ ]:
now = datetime.datetime.now()
df.to_csv(f'apartments\
_{now.month}_{now.hour}_{now.minute}_{now.second}.csv')

In [ ]:
df.to_excel('apartments.xlsx')

In [101]:
def getColumnNames(url, colNames = ['URL', 'Description']):
    result = []
    result += colNames
    req = requests.get(url)
    if req.status_code != 200:
        print(f"Bad response! {req.status_code}")
        return []
    soup = BeautifulSoup(req.text, 'lxml')
    columnrow = soup.find('tr', {'id':'head_line'})
    tds = columnrow.find_all('td')
    for td in tds[1:]:
        result.append(td.text)
    return result

In [ ]:
columnNames = getColumnNames("https://www.ss.com/lv/real-estate/flats/riga/other/sell/")

In [ ]:
columnNames

In [ ]:
columnNames

In [ ]:
df.columns = columnNames
df.head()

In [102]:
%%writefile util.py
def getFileName(prefix="apartments", postfix="xlsx", hasYear=False):
    now = datetime.datetime.now()
    if hasYear:
        return f"{prefix}_{now.year}_{now.month}_{now.hour}\
_{now.minute}_{now.second}.{postfix}"
    else:
        return f"{prefix}_{now.month}_{now.hour}\
_{now.minute}_{now.second}.{postfix}"

Writing util.py

In [103]:
import util

In [ ]:
util.getFileName()

In [ ]:
getFileName("rooms", postfix="txt",hasYear=True)

In [ ]:
getFileName("cars", postfix="xlsx")

In [ ]:
now = datetime.datetime.now()
df.to_csv(getFileName())

In [ ]:
df.to_excel('apartments.xlsx')

In [ ]:
df.to_excel(getFileName())

In [104]:
from IPython.display import HTML

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):  
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

In [105]:
import base64

In [106]:
create_download_link(df)